* {
    margin: 0;
    padding: 0;

}

.header {
   min-height: 100vh;
   width: 100%;
   background-image: linear-gradient(rgba(0,0,0,0.75),rgba(0,0,0,0.75)),url(image.jpg);
   background-size: cover;
   background-position: center;
}

nav {
    display: flex;
    padding: 2% 6%;
    justify-content: space-between;
    align-items: center;

}

nav img {
    width: 150px;
}

.nav-links {
    flex: 1;
    text-align: right;
}

.nav-links ul li {
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
    position: relative;
}

.nav-links ul li a {
    color: antiquewhite;
    text-decoration: none;
    font-size: 18px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.nav-links ul li::after{
    content: '';
    width: 0%;
    height: 2px;
    background: ghostwhite;
    display: block;
    margin: auto;
    transition: 0.5s;
}

.nav-links ul li:hover::after{
    width: 100%;
}

.text-box {
    width: 90%;
    color: azure;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
}

.text-box p {
    margin:0 0 40px ;
    font-size: 25px;
    color:ghostwhite;
}

button{
    width: 200px;
    padding: 15px 0;
    text-align : centre;
    font-size:15px ;
    margin: 15px 5px;
    border-radius: 20px;
    font-weight:bold;
    border: 2px solid white;
    background:transparent;
    color:white;
    cursor:pointer;
    position: relative;
    overflow:hidden;
 }

 span {
    background: grey;
    height:100%;
    width:0;
    border-radius:20px;
    position: absolute;
    left:0;
    bottom:0;
    z-index: -1;
    transition: 0.5s;
 }

 button:hover span{
    width: 100%;
 
 }
 
 button:hover {
    border:none;
 }


 @media(max-width:700px){
.Blogo {
    width: 80%;
}

.text-box p {
    font-size: 18px;
}

nav img {
    width: 80px;
}

nav {
    display: flex;
  
    justify-content: space-between;
    align-items: center;

}

.nav-links ul li a {
    color: antiquewhite;
    text-decoration: none;
    font-size: 12px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

 }